* {
  box-sizing: border-box;
}
/*
Button stylings
*/

#next {
	position:absolute;
	top:45px;
	left:120px;
}

#previous {
	position:absolute;
	top:45px;
	left:8px;
}

#watsonTest{
	left:20px;
}


/* basic stylings ------------------------------------------ */


.container {
  font-family: 'Roboto';
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}


.footer {
  text-align: center;
}

.footer a {
  color: #53B2C8;
}


/* form starting stylings ------------------------------- */

.image {
  position: relative;
}

input {
  position:absolute;
  top:4px;
  left:30px;
  font-size: 20px;
  display: block;
  width: 150px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}


/* LABEL ======================================= */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
  position: absolute;
  top:30px;
  left:30px;
  display: block;
  width: 150px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 20px;
  width: 200px;
  top: 0px;
  left: 25px;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}